body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

button:hover {
    background-color: darkgreen;
}

/* confetti.css */
#confettiCanvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; /* Ensure canvas is behind other content */
    pointer-events: none; /* Prevent it from blocking clicks */
}
